---
import ArrowRightUp from "@components/icons/ArrowRightUp.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  {href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center gap-1.5 mt-4 text-sm text-muted-foreground hover:text-foreground transition-colors"
>
  <ArrowRightUp />
  Docs
</a>
